<div id="settings-container" class="column gap-50">
    <h1 data-lang="account-panel-settings">Language</h1>
    <div id="settings-content" class="column gap-20">
        <div class="row gap-25" type="menu">
            <div id="en" class="language-btn grid-center" type="option" onclick="LANG_change('en')">
                <img class="lang-img" src="/Join/assets/img/icons/english.png">
            </div>

            <div id="de" class="language-btn grid-center" type="option" onclick="LANG_change('de')">
                <img class="lang-img" src="/Join/assets/img/icons/german.png">
            </div>

            <div id="es" class="language-btn grid-center" type="option" onclick="LANG_change('es')">
                <img class="lang-img" src="/Join/assets/img/icons/spanish.png">
            </div>
            
            <div id="pg" class="language-btn grid-center" type="option" onclick="LANG_change('pg')">
                <img class="lang-img" src="/Join/assets/img/icons/portuguese.png">
            </div>

            <div id="fr" class="language-btn grid-center" type="option" onclick="LANG_change('fr')">
                <img class="lang-img" src="/Join/assets/img/icons/french.png">
            </div>

            <div id="it" class="language-btn grid-center" type="option" onclick="LANG_change('it')">
                <img class="lang-img" src="/Join/assets/img/icons/italian.png">
            </div>

            <div id="tk" class="language-btn grid-center" type="option" onclick="LANG_change('tk')">
                <img class="lang-img" src="/Join/assets/img/icons/turkish.png">
            </div>
        </div>
    </div>
</div>