.contacts-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

#contacts-container {
    height: 100%;
    width: clamp(250px, 30vw, 453px);
    flex-shrink: 0;
    background-color: white;
    box-shadow: 4px 0px 6px 0px #00000014;
    overflow: auto;
    padding: 3rem 3vw;
    container-type: inline-size;
}

#contacts-container:empty {
    display: none;
}

.close-inactive {
    display: none;
}

.contact {
    border-radius: 10px;
    padding: 15px 25px 15px;
    gap: 35px;
}

@container (max-width: 300px) {
    .contact {
        gap: 10px;
        padding: 15px;
    }
    .contact .column {
        /* width: calc(100%) !important; */
    }
    .contact-img {
        display: none;
    }
}

@media(hover: hover) {
    .contact:hover {
    background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
    cursor: pointer;
}
}

.contact-letter {
    padding: 30px 20px;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 1rem;
}

#contacts-container .user-img-container {
    height: 40px;
}

.header-contact .user-img-container {
    --outline-thickness: 3px;
    height: 120px;
}

.contact .column {
    width: calc(100% - 40px - 25px);
    gap: 5px;
}

.contact-email {
    color: var(--clr-email);
    font-size: .875rem;
    width: calc(100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contacts-header-container {
    gap: 30px;
    width: 100%;
}

.contacts-header-container p {
    background-color: var(--clr-blue);
    width: 3px;
    height: 57px;
    border-radius: 999px;
    margin: 0;
}

.contacts-header-container span {
    font-size: 1.6875rem;
    font-weight: 500;
    color: var(--clr-dark);
}

.header-contact {
    height: 100%;
    flex-grow: 1;
    padding: 60px 40px 130px;
    gap: 50px;
}

.contact-container {
    width: 100%;
    gap: 21px;
}

#selected-contact-container {
    width: 100%;
    flex-grow: 1;
}

.absolute {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.contact-name {
    gap: 13px;
}

.contact-name span {
    font-size: 2.9375rem;
    font-weight: 400;
}

.contact-name button {
    color: var(--clr-blue);
    font-weight: 400;
    width: fit-content;
}

.delete-contact-btn span {
    font-size: 1rem;
    color: var(--clr-orange);
}

.img-name {
    width: 100%;
    height: 120px;
    gap: 54px;
}

.contact-info-container {
    gap: 60px;
    height: 74px;
}

.contact-info-container button {
    color: var(--clr-dark);
    width: fit-content;
}

.contact-info-container button::before {
    content: '';
    background: url(../assets/img/icons/pencil.svg);
    height: 25px;
    width: 25px;
    margin-right: 13px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-info-container span:first-child {
    font-size: 1.3125rem;
}

.mail-container {
   gap: 15px; 
}

.email {
    color: var(--clr-blue);
    width: fit-content;
}

.phone-container {
    gap: 15px;
}

#phone-number {
    color: var(--clr-blue);
    width: fit-content;
}



/*ADD CONTACT MODAL*/

#add-contact-modal {
    border-radius: 30px;
    overflow: hidden;
    height: 594px;
    max-width: 1200px;
    background: none;
}

.add-contact-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

#add-contact-modal .close-btn {
    display: grid;
    place-items: center;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 999px;
    top: 26px;
    right: 40px;
    transition: all var(--transition-fast);
    z-index: 2;
}


/* CONTACT THEME (LEFT SIDE) */

.add-contact-theme {
    flex-shrink: 0;
    background-color: var(--clr-dark);
    width: 455px;
    height: 100%;
    gap: 12px;
    padding: 66px 46px;
    justify-content: center;
    color: white;
}

.add-contact-theme img {
    height: 66px;
    width: 55px;
}

.add-contact-theme span {
    font-size: 1.6875rem;
}

.add-contact-theme span::after {
    content: '';
    display: block;
    background: var(--clr-blue);
    height: 3px;
    width: 90px;
    margin-top: 12px;
}


/* CONTACT INPUT/SEARCH (RIGHT SIDE) */

.add-contact-field {
    width: 570px;
    height: 100%;
    position: relative;
    padding: 66px 46px;
    background-color: white;
}

.search-result-container {
    height: 100%;
}

.search-result-container > .user-img-container {
    width: 120px;
}

.search-result-container > .user-img-container:has( > img[src="../assets/img/icons/user_img_gray.svg"]) {
    --outline-thickness: 0;
    --user-clr: 'unset';
    height: 130px;
    width: 130px;
}

.search-result-container .user-img-container h3 {
    font-size: 2.5rem;
}

.search-contact {
    justify-content: center;
}

.user-search-result {
    height: fit-content;
    max-height: 320px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    overflow: auto;
}

.user-search-result-inactive {
    width: 100%;
    padding: 0;
    border: none;
    height: 0;
}

.search-result-contact {
    border-radius: 10px;
    padding: 15px 25px;
    justify-content: space-between;
    width: 100%;
}

.search-result-contact .user-img-container {
    height: 30px;
    aspect-ratio: 1;
}

.result-name-email {
    width: fit-content;
    max-width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-clr {
    color: var(--clr-email);
}

.add-contact-field input {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 13px 21px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
}

.add-contact-btns {
    margin-top: auto;
    justify-content: flex-end;
}

.add-contact-field:has( input:placeholder-shown) .add-contact-btns button {
    pointer-events: none;
    font-weight: 500;
    filter: invert(1);
}

.contact-img.user-img-container h3 {
    font-size: 0.9rem;
}

.btn-contact {
    z-index: 2;
}