body {
    min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#content[include-template="../assets/templates/login_template.html"] {
    justify-content: space-around;
}

#logo {
    position: absolute;
    inset: 0;
    animation: background-opacity 500ms 200ms ease-in-out forwards;
    background-color: var(--clr-light);
    z-index: 1;
    display: grid;
    grid-template-areas: 'a';
}

#logo img {
    grid-area: a;
}

#logo img:last-of-type {
    opacity: 0;
}

@keyframes background-opacity {
    99% {
        z-index: 1;
    }
    to {
        background-color: transparent;
        z-index: -1;
    }
}

#logo img {
    --translation: logo-zoom 500ms 200ms ease-in-out;
    position: absolute;
    top: 80px;
    left: 77px;
    object-fit: contain;
    animation: var(--translation);
}

@keyframes logo-zoom {
    from {
        width: 274px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}

#sign-up {
    position: absolute;
    display: flex;
    gap: 35px;
    align-items: center;
    height: 51px;
    top: 67px;
    right: 114px;
}

.card {
    position: relative;
    width: 652px;
    padding: 35px 22.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0 50px;
    position: relative;
}

.header-container::after {
    content: '';
    background-color: var(--clr-blue);
    height: 3px;
    width: 9rem;
    border-radius: 999px;
    animation: load-blue-bar var(--load-animation-duration);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.inp-wrapper {
    max-width: 422px;
}

.eye {
    height: 25px;
    object-fit: contain;
}

.login-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-container button {
    height: 51px;
    padding: 4px 16px;
}

.back-arrow {
    width: 37px;
    height: 37px;
    position: absolute;
    top: 35px;
    left: 31px;
}

.back-arrow img {
    height: 24px;
}

.card p {
    max-width: 656px;
    width: 100%;
}

/* LOGIN */ 

#login button[type="submit"] {
    width: 145px;
}

form:has(input:placeholder-shown) button[type="submit"] {
    pointer-events: none;
    font-weight: 500;
    filter: invert(1);
}

/* SIGNUP */

/* VERIFICATION */

#verification input::placeholder {
    color: transparent;
}

#timer {
    font-family: 'PT Mono';
    margin-left: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {

    #content {
        justify-content: unset;
    }
    
    #logo {
        background-color: var(--clr-dark);
    }

    #logo img {
        top: 37px;
        left: 38px;
        width: 64px;
    }

    #logo img:first-of-type {
        animation: var(--translation), logo-fade 500ms 200ms ease-in-out forwards;
    }
    
    #logo img:last-of-type {
        animation: var(--translation), logo-fade 500ms 200ms ease-in-out reverse forwards;
    }

    @keyframes logo-fade {
        to {
            opacity: 1;
        }
    }

    .card {
        width: calc(100vw - 56px);
        margin-top: 15vh;
    }

    .login-options,
    .btn-container {
        height: unset;
        flex-direction: column;
    }
    
    .login-options {
        align-items: unset;
        flex-direction: column-reverse;
        margin-right: auto;
    }

    #sign-up {
        position: unset;
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    .btn-container {
        min-width: 180px;
        gap: 21px;
    }
}

/* KEYFRAMES */

@keyframes load-blue-bar {
    from {
        width: 3rem;
    }
}

/* EXPERIMENTAL */

.btn-container.bg-light {
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    height: 120px;
    width: 500px;
}

.btn-priority {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

@media (hover: hover) {
    .btn-priority:hover {
    /* padding: 4px 18px; */
    height: 61px;
    /* scale: 1.1; */
}
}

.btn-priority span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-priority span::after {
    content: var(--icon);
    width: 20px;
}