#board-wrapper {
    width: 100%;
    height: calc(100vh - 85px);
    padding: 2vh 4rem;
    display: flex;
    flex-direction: column;
    gap: 38px;
    overflow: hidden;
}

#search-task {
    margin-left: auto;
}

#search-task:focus-within {
    border-color: var(--clr-blue);
}

#search-task:has(input:not(:placeholder-shown)) button:first-of-type {
    display: none;
}

#search-task:has(input:placeholder-shown) button:last-of-type {
    display: none;
}

#tasks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px;
    flex-grow: 1;
    overflow: auto;
    scrollbar-gutter: stable;
}

#tasks > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

#tasks > div:empty::before {
    content: attr(data-type);
    display: block;
    width: 100%;
    text-align: center;
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
    padding: 10px 0;
    color: #A8A8A8;
    box-shadow: 0px 0px 4px 0px #00000029;
    border-radius: 10px;
    font-size: 1rem;
}

#tasks-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--clr-dark);
    gap: 38px;
    min-height: 30px;
    flex-shrink: 0;
}

.task-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 38px;
}

.task {
    --tr: rotate var(--transition-fast);
    background-color: white;
    width: 100%;
    min-height: 205px;
    border-radius: 15px;
    padding: 18px 19px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: var(--tr);
    translate: calc(var(--x) * 1px) calc(var(--y) * 1px);
}

.task.active {
    rotate: 2.5deg;
    z-index: 1;
}

.drop-transition {
    transition: var(--tr), translate var(--transition-fast);
}

#tasks > div.placeholder::after {
    content: '';
    display: block;
    border-radius: 30px;
    width: 100%;
    height: 205px;
    outline: 1px dashed var(--clr-placeholder);
}

.task-category {
    width: fit-content;
    background-color: var(--clr);
    color: white;
    border-radius: 8px;
    padding: 4px 25px;
    font-family: 'Open Sans';
}

.task-description {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--clr-icon-gray);
}

.task-progress-counter {
    white-space: nowrap;
}

.task-progress-bar {
    --progress: .5;
    height: 8px;
    width: 100%;
    border-radius: 999px;
    background-color: #F4F4F4;
    position: relative;
}

.task-progress-bar::after {
    transition: width var(--transition-slow);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--progress) * 100%);
    height: 100%;
    border-radius: inherit;
    background-color: var(--clr-blue);
}

.task-footer,
.task-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: auto;
}

.task-progress + .task-footer {
    margin: 0;
}

.task-assigned-to {
    display: flex;
}

.task-assigned-to > div {
    width: 35px;
    height: 35px;
    background-color: var(--user-clr);
    color: white;
    display: grid;
    place-items: center;
    border-radius: 9999px;
    outline: 1px solid white;
    font-size: .75rem;
}

.task-assigned-to > div:not(:first-of-type) {
    margin-left: -5px;
}

.task-priority {
    width: 20px;
    height: 20px;
    background: var(--priority) no-repeat center;
}

#fullscreen-task-modal :is(#fullscreen-task, #edit-task) {
    background-color: white;
    width: 90vw;
    max-height: 90vh;
    max-width: 525px;
    padding: 30px 40px;
}


#fullscreen-task-modal .close-btn {
    top: -20px;
    right: -5px;
}

#fullscreen-task-modal :is(#fullscreen-task, #edit-task) > div {
    position: relative;
}

#fullscreen-task-modal .user-img-container {
    width: 35px;
    height: 35px;
    font-size: 12px;
}

#fullscreen-task-modal .assigned-to-contact {
    padding: 7px 16px;
}

#fullscreen-task-modal .fullscreen-task-label {
    color: var(--clr-dark);
}

#fullscreen-task-modal .btn-container {
    margin-left: auto;
}

#fullscreen-task-modal .priority::after {
    background-size: 80%;
    scale: .8;
}

.fullscreen-subtask {
    padding: 6px 16px;
}

#fullscreen-task-modal .line {
    height: 27px;
}

#fullscreen-task .btn-container button:first-of-type::before {
    translate: 0 2px;
    content: url(/Join/assets/img/icons/trash.svg);
}

#fullscreen-task .btn-container button:last-of-type::before {
    translate: 0 2px;
    content: url(/Join/assets/img/icons/edit_dark.svg);
}

#edit-task .btn-check {
    margin-left: auto;
}

#fullscreen-task-modal :is(#fullscreen-task, #edit-task) .fullscreen-content {
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.fullscreen-task-subTasks:has(.column:empty) {
    display: none;
}