.contacts-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

#contacts-container {
    height: 100%;
    width: clamp(250px, 30vw, 453px);
    flex-shrink: 0;
    background-color: white;
    box-shadow: 4px 0px 6px 0px #00000014;
    overflow: auto;
    padding: 3rem 3vw;
    container-type: inline-size;
}

.contact {
    border-radius: 10px;
    padding: 15px 25px;
    gap: 35px;
}

@container (max-width: 300px) {
    .contact {
        gap: 10px;
        padding: 15px;
    }
    .contact .column {
        width: calc(100%) !important;
    }
    .contact-img {
        display: none;
    }
}

.contact:hover {
    background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
    cursor: pointer;
}

.contact-letter {
    padding: 30px 20px;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 1rem;
}

#contacts-container .user-img-container {
    height: 40px;
}

.header-contact .user-img-container {
    --outline-thickness: 3px;
    height: 120px;
}

.contact .column {
    width: calc(100% - 40px - 25px);
    gap: 5px;
}

.contact-email {
    color: var(--clr-email);
    font-size: .875rem;
    width: calc(100%);
    overflow: hidden;
    text-overflow: ellipsis;
}





.contacts-header-container {
    gap: 30px;
    width: 100%;
}

.contacts-header-container p {
    background-color: var(--clr-blue);
    width: 3px;
    height: 57px;
    border-radius: 999px;
}

.contacts-header-container span {
    font-size: 1.6875rem;
    font-weight: 500;
    color: var(--clr-dark);
}

.header-contact {
    height: 100%;
    flex-grow: 1;
    padding: 60px 40px;
    gap: 50px;
}

.contact-container {
    width: 100%;
    gap: 21px;
}

#selected-contact-container {
    width: 100%;
}

.absolute {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.contact-name {
    gap: 13px;
}

.contact-name span {
    font-size: 2.9375rem;
    font-weight: 400;
}

.contact-name button {
    color: var(--clr-blue);
    font-weight: 400;
    width: fit-content;
}

.contact-name button::before {
    content: '';
    background: url(../assets/img/icons/plusBlue.svg);
    height: 15px;
    width: 15px;
    margin-right: 13px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-name {
    width: 100%;
    height: 120px;
    gap: 54px;
}

.edit-contact {
    gap: 60px;
    height: 74px;
}

.edit-contact button {
    color: var(--clr-dark);
    width: fit-content;
}

.edit-contact button::before {
    content: '';
    background: url(../assets/img/icons/pencil.svg);
    height: 25px;
    width: 25px;
    margin-right: 13px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.edit-contact span:first-child {
    font-size: 1.3125rem;
}

.mail-container {
   gap: 15px; 
}

.email {
    color: var(--clr-blue);
    width: fit-content;
}

.phone-container {
    gap: 15px;
}

#phone-number {
    color: var(--clr-blue);
    width: fit-content;
}



/*ADD CONTACT MODAL*/

#add-contact-modal {
    border-radius: 30px;
    overflow: hidden;
    height: 594px;
    max-width: 1200px;
    background: none;
}

.add-contact-container {
    height: 100%;
    width: 100%;
}



/* CONTACT THEME (LEFT SIDE) */

.add-contact-theme {
    flex-shrink: 0;
    background-color: var(--clr-dark);
    width: 455px;
    height: 100%;
    gap: 12px;
    padding: 66px 46px;
    justify-content: center;
    color: white;
}

.add-contact-theme img {
    height: 66px;
    width: 55px;
}

.add-contact-theme span {
    font-size: 1.6875rem;
}

.add-contact-theme span::after {
    content: '';
    display: block;
    background: var(--clr-blue);
    height: 3px;
    width: 90px;
    margin-top: 12px;
}


/* CONTACT INPUT/SEARCH (RIGHT SIDE) */

.add-contact-field {
    width: 570px;
    height: 100%;
    justify-content: space-around;
    position: relative;
    padding: 66px 46px;
    background-color: white;
}

.search-result-container {
    height: 100%;
}

.search-result-container > .user-img-container {
    width: 120px;
}

.search-result-container > .user-img-container:has( > img[src="../assets/img/icons/user_img_gray.svg"]) {
    --outline-thickness: 0;
    --user-clr: 'unset';
    height: 130px;
    width: 130px;
}

.search-result-container .user-img-container h3 {
    font-size: 2.5rem;
}

.search-contact {
    justify-content: center;
    height: 100%;
}

.user-search-result {
    height: fit-content;
    max-height: 320px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    overflow: auto;
}

.user-search-result-inactive {
    width: 100%;
    padding: 0;
    border: none;
    height: 0;
}

.search-result-contact {
    border-radius: 10px;
    padding: 15px 25px;
    justify-content: space-between;
    width: 100%;
}

.search-result-contact:hover {
    background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
    cursor: pointer;
}

.search-result-contact .user-img-container {
    height: 30px;
    aspect-ratio: 1;
}

.result-name-email {
    width: fit-content;
}

.mail-clr {
    color: var(--clr-email);
}

.close {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 26px;
    right: 40px;
    cursor: pointer;
}

.add-contact-field input {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 13px 21px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
}

.add-contact-btns {
    justify-content: flex-end;
}

.contact-img.user-img-container h3 {
    font-size: 0.9rem;
}

@media (max-width: 1100px) {
    #add-contact-modal {
        height: 90%;
        width: 90%;
        max-width: 550px;
    }

    .add-contact-container {
        flex-direction: column;
        position: relative;
    }

    .add-contact-theme {
        height: 50%;
        width: 100%;
    }

    .add-contact-theme img {
        display: none;
    }

    .add-contact-field {
        height: 50%;
        width: 100%;
        padding: 15px 46px;
    }

    .add-contact-field input {
        width: 100%;
    }

    .add-contact-field img.close {
        display: none;
    }

    .search-result-contact span:last-of-type {
        display: none;
    }

    .search-contact {
        align-items: center;
        width: 350px;
        margin-top: 20px;
    }

    .search-result-container {
        height: 150px;
        justify-content: center;
    }

    .search-result-container .user-img-container {
        display: none;
    }

    .add-contact-container .user-img-container {
        position: absolute;
        height: 130px;
        width: 130px;
        top: 42%;
    }
}


@media (min-width: 1100px) {
    .add-contact-container > .user-img-container {
        display: none;
    }
}



@media (max-width: 1000px) {
    .contact {
        gap: 30px;
    }

    .contacts-header-container {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }

    .header-contact .user-img-container {
        height: 100px;
    }

    .contact-email {
        display: none;
    }
}



@media (max-width: 800px) {
    #add-contact-modal {
        height: 85%;
    }

    #contacts-container {
        width: calc(100%);
        padding: 2rem;
    }

    .header-contact {
        display: none;
        position: absolute;
        inset: 0;
        gap: 25px;
    }

    .img-name {
        gap: 10px;
    }

    .header-contact .user-img-container {
        height: 80px;
    }

    .add-contact-theme h1 {
        font-size: 3.5rem;
    }

    .add-contact-btns {
        justify-content: center;
    }
}



@media (max-width: 500px) {
    .add-contact-theme h1 {
        font-size: 3rem;
    }

    .add-contact-theme span {
        font-size: 1.4rem;
    }
}



@media (max-width: 400px) {
    .add-contact-theme h1 {
        font-size: 2.8rem;
    }

    .add-contact-theme span {
        font-size: 1.3rem;
    }
}