body {
    min-height: 100vh;
}

#logo {
    position: absolute;
    inset: 0;
    animation: background-opacity 500ms 200ms ease-in-out forwards;
    background-color: var(--clr-light);
    z-index: 1;
}

@keyframes background-opacity {
    99% {
        z-index: 1;
    }
    to {
        background-color: transparent;
        z-index: -1;
    }
}

#logo img {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100px;
    object-fit: contain;
    animation: logo-zoom 500ms 200ms ease-in-out;
}

@keyframes logo-zoom {
    from {
        width: 274px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}

#sign-up {
    position: absolute;
    display: flex;
    gap: 35px;
    align-items: center;
    height: 51px;
    top: 67px;
    right: 114px;
}

.card {
    position: relative;
    min-width: 652px;
    width: fit-content;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.header-container img {
    width: 150px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

form .inp-container {
    width: 422px;
    padding: 13px 21px;
    border: 1px solid var(--clr-placeholder);
    display: flex;
    justify-content: space-between;
}

form input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.login-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 20px;
}

.remember-me input {
    --bg: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    position: relative;
    background-image: url(../assets/img/icons/checkbox-unchecked.svg), var(--bg);
    background-size: contain;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    padding: unset;
}

.remember-me input:checked {
    border: unset;
    background-image: url(../assets/img/icons/checkbox-checked.svg), var(--bg);
}

.remember-me input:checked::before {
    background-color: inherit;
    position: absolute;
    top: -2.5px;
    left: 3px;
    content: url(../assets/img/icons/checkbox-check.svg);
    width: 13.5px;
    height: 12.5px;
    display: block;
}

.btn-container {
    display: flex;
    gap: 35px;
    margin: auto;
    height: 51px;
}

#login {
    width: 145px;
}

#guest-login {
    padding: 4px 16px;
}

.back-arrow {
    width: 37px;
    height: 37px;
    position: absolute;
    top: 35px;
    left: 31px;
}

.back-arrow img {
    height: 24px;
}

.card p {
    width: 656px;
}

@media (max-width: 800px) {
    .login-options,
    .btn-container {
        flex-direction: column;
    }
}