body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#logo {
    position: absolute;
    inset: 0;
    animation: background-opacity 500ms 200ms ease-in-out forwards;
    background-color: var(--clr-light);
    z-index: 1;
}

@keyframes background-opacity {
    to {
        background-color: transparent;
        z-index: -1;
    }
}

#logo img {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100px;
    object-fit: contain;
    animation: logo-zoom 500ms 200ms ease-in-out;
}

@keyframes logo-zoom {
    from {
        width: 274px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}

#sign-up {
    position: absolute;
    display: flex;
    gap: 35px;
    align-items: center;
    height: 51px;
    top: 67px;
    right: 114px;
}

.card {
    width: 652px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.header-container img {
    width: 150px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

form .inp-container {
    width: 422px;
    padding: 13px 21px;
    border: 1px solid var(--clr-placeholder);
    display: flex;
    justify-content: space-between;
}

form input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

form input[type="email"]::after {
    content: url(../assets/img/icons/mail.svg);
    width: 20px;
    height: 18px;
    display: block;
}

.login-options {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 20px;
}

.remember-me input {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    border: 1px solid #000000;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    padding: unset;
}

.btn-container {
    display: flex;
    gap: 35px;
    margin: auto;
    height: 51px;
}

#login {
    width: 145px;
}

#guest-login {
    padding: 4px 16px;
}

