:root {
    --clr-dark: #2A3647;
    --clr-active: #091931;
    --clr-nav: #CDCDCD;
    --clr-white: #FFFFFF;
    --clr-light: #F6F7F8;
    --clr-blue: #29ABE2;
    --clr-orange: #FF3D00;
    --clr-placeholder: #D1D1D1;
    --clr-bg-light: #f5f5f5;
    --clr-icon-gray: #A8A8A8;
    --clr-email: #007cee;

    --txt-gray: #cdcdcd;

    --load-animation-duration: 600ms ease-out;
    --transition-fast: 100ms ease-in-out;
    --transition-medium: 175ms ease-in-out;
    --transition-slow: 250ms ease-in-out;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    margin: 0;
    font-family: 'Inter';
    background-color: var(--clr-light);
}

*,
::after,
::before {
    box-sizing: border-box;
}

:focus-visible {
    outline: none;
}

button, input, textarea, a, h1, h2, h3, h4 {
    all: unset;
}

input, textarea {
    background-color: white;
}

button, a {
    cursor: pointer;
}

a {
    color: var(--clr-blue);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    box-shadow: inset 0 0 0 1000px white;
}

input::placeholder {
    color: var(--clr-placeholder);
}

.d-none {
    display: none !important;
}

button.active {
    color: var(--clr-white);
}

button.active span::after {
    filter: brightness(0) invert(1);
}

button.bg-dark {
    font-weight: 700;
}

.btn {
    border-radius: 8px;
    transition: var(--transition-fast);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 21px;
    cursor: pointer;
    width: fit-content;
    white-space: nowrap;
}

.btn:hover {
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 25%);
}

.btn-primary {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    padding: 15px;
}

.btn-primary:hover {
    background-color: var(--clr-blue);
}

.btn-primary:active {
    background-color: var(--clr-active);
}

.btn-secondary {
    background-color: var(--clr-white);
    color: var(--clr-dark);
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 0%), inset 0 0 0 1px var(--clr-dark);
    padding: 15px;
    background-clip: padding-box;
}

.btn-secondary:hover {
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 25%), inset 0 0 0 2px var(--clr-blue);
    color: var(--clr-blue);
}

.btn-secondary:active {
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 25%), inset 0 0 0 1px var(--clr-active);
    color: var(--clr-active);
}

.btn-plus {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 3px;
    outline: 2px solid var(--clr-dark);
    background: url(./assets/img/icons/btn_plus_dark.svg) no-repeat center;
    background-size: 20px;
    display: block;
    flex-shrink: 0;
}

.btn-plus:hover {
    outline-color: var(--clr-blue);
    background-image: url(./assets/img/icons/btn_plus_blue.svg);
    box-shadow: unset;
}

.btn-plus:active {
    outline-color: var(--clr-icon-gray);
    background-image: url(./assets/img/icons/btn_plus_gray.svg);
}

.btn span {
    align-items: center;
    display: flex;
    gap: 15px;
}

.btn-check span::after,
.btn-cancel span::after,
.btn-contact span::after {
    display: block;
} 

.btn-check span::after {
    content: url(./assets/img/icons/check.svg);
}

.btn-contact span::after {
    content: url(./assets/img/icons/secondary_contact.svg);
}

.btn-cancel span::after {
    content: url(./assets/img/icons/btn_cancel.svg);
}

.btn-cancel:hover span::after {
    content: url(./assets/img/icons/btn_cancel_blue.svg);
}

.btn-add-task span::after {
    content: url(./assets/img/icons/btn_plus.svg);
}

.bg-light {
    background-color: var(--clr-light);
}

.bg-dark {
    background-color: var(--clr-dark);
}

.bg-active {
    background-color: var(--clr-active);
}

.bg-inactive-nav {
    color: var(--clr-inactive-nav);
}

.bg-white {
    background-color: var(--clr-white);
}

.txt-white {
    color: var(--clr-white);
}

.txt-dark {
    color: var(--clr-dark);
}

.txt-blue {
    color: var(--clr-blue);
}

.txt-normal {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 25.2px;
}

.txt-small {
    font-size: .875rem;
}

.txt-tiny {
    font-size: .75rem;
}

.txt-700 {
    font-weight: 700;
}

.txt-500 {
    font-weight: 500;
}

.txt-600 {
    font-weight: 600;
}

.txt-400 {
    font-weight: 400;
}

.txt-center {
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: initial;
}

h2 {
    font-size: 3.8125rem;
    font-weight: 700;
    line-height: 120%;
    position: relative;
    animation: load var(--load-animation-duration);
}

h2.txt-blue {
    font-size: 64px;
}

h3 {
    font-size: 1.6875rem;
}

.radius-10 {
    border-radius: 10px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-30 {
    border-radius: 30px;
}

.radius-circle {
    border: 9999px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

.gap-35 {
    gap: 35px;
}

.gap-40 {
    gap: 40px;
}

.gap-45 {
    gap: 45px;
}

.grid-center {
    display: grid;
    place-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: var(--clr-white);
    box-shadow: 0px 0px 14px 3px rgba(0 0 0 / 4%);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--clr-light);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-placeholder);
    border-radius: 999px;
}

/* DROPDOWN */
.drp {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 422px;
}

.drp-wrapper {
    border-radius: 10px;
    border: 1px solid var(--clr-placeholder);
    display: grid;
    grid-template-rows: 51px 0fr;
    transition: var(--transition-fast);
    background-color: white;
}
.drp-wrapper.active {
    grid-template-rows: 51px 1fr;
}
.drp-option-wrapper{
    overflow: hidden;
}

.drp-wrapper div:not(.drp-contacts):not(.drp-option-wrapper) {
    padding: 13px 21px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
}

.drp-wrapper div:not(.drp-contacts):not(.drp-option-wrapper):not(.drp-title):hover {
    background-color: var(--clr-placeholder);
}

.drp-invite {
    border-radius: 0 0 10px 10px;
}

.drp-title::after {
    content: url(./assets/img/icons/dropdown.svg);
}

.drp-option::after {
    content: url(./assets/img/icons/check_button.svg);
}

.drp-option.active::after {
    content: url(./assets/img/icons/check_button_checked.svg);
}

.drp-invite::after {
    content: url(./assets/img/icons/new_contact.svg);
    translate: 4px 0;
}

/* USER */

.user-img-container {
    --outline-thickness: 2px;
    --user-clr: var(--clr-placeholder);
    --text-clr: white;
    background-color: var(--user-clr);
    border-radius: 999px;
    color: var(--clr-white);
    display: grid;
    place-items: center;
    grid-template-areas: 'a';
    outline: var(--outline-thickness) solid var(--user-clr);
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    flex-shrink: 0;
    transition: --text-clr var(--transition-fast);
    z-index: 1;
}

@property --text-clr {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

.user-img-container > * {
    grid-area: a;
}

.user-img-container img:not([src=""]) {
    width: calc(100% - calc(var(--outline-thickness) * 2));
    height: calc(100% - calc(var(--outline-thickness) * 2));
    object-fit: cover;
    border-radius: inherit;
}

.user-img-container::after {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    content: '';
    box-shadow: inset 0 0 0 var(--outline-thickness) var(--text-clr);
}

.user-img-container[data-img="true"]:hover::before {
    content: '';
    position: absolute;
    display: grid;
    z-index: 1;
    width: 3rem;
    aspect-ratio: 1;
    background: url(../assets/img/icons/btn_cancel.svg) rgba(255, 255, 255, 0.4) center no-repeat;
    background-size: 50%;
    filter: invert(1);
    border-radius: 999px;
    cursor: pointer;
}

.user-img-container[data-img="true"] {
    cursor: pointer;
}

.user-img-container h1 {
    color: var(--text-clr);
}

/* DIALOG */
dialog {
    user-select: none;
    border: unset;
    padding: unset;
    overflow: hidden;
}

.big-modal {
    border-radius: 30px;
    background: none;
    transition: translate 300ms ease-in-out;
    translate: 100vw 0;
}

.big-modal.active {
    translate: 0 0;
}

.dlg-notification {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10vh;
    background-color: transparent;
    height: 100vh;
    width: 100vh;
}

.dlg-notification[open] {
    display: flex;
}

.dlg-notification::backdrop {
    background-color: transparent;
}

.dlg-notification > div {
    background-color: var(--clr-dark);
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0 0 0 / 15%);
    padding: 23px 30px;
    opacity: 0;
    width: fit-content;
    translate: 0 100px;
}

.anim-notification {
    animation-name: notification;
    animation-duration: 2s;
}

@keyframes notification {
    20%, 80% {
        opacity: 1;
        translate: 0 0;
    }
}

/* INPUT */

.inp-container {
    padding: 13px 21px;
    border: 1px solid var(--clr-placeholder);
    display: flex;
    justify-content: space-between;
    transition: border-color var(--transition-fast);
}

.inp-container.active {
    border-color: var(--clr-orange);
}

.inp-container > button {
    width: 35px;
}

.inp-container.inp-code {
    border: unset;
    padding: unset;
    gap: 5px;
}

.inp-container.inp-code input {
    height: 70px;
    aspect-ratio: 1;
    border: 1px solid var(--clr-placeholder);
    font-size: 40px;
    font-weight: 700;
    color: var(--clr-active);
}

.inp-wrapper {
    min-width: fit-content;
    max-width: 422px;
    width: 100%;
}

/* DISPLAY */

.d-none {
    display: none !important;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    h1 {
        font-size: 2.9375rem;
    }

    h2 {
        font-size: 2.9375rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .txt-normal {
        font-size: .875rem;
    }

    .btn {
        font-size: var(--txt-small);
    }
}

/* ANIMATIONS */

@keyframes load {
    0%, 20% {
        opacity: 0;
        translate: 0 -20%;
    }
}