<div class="txt-normal add-task-card column">
    <div class="add-task-heading row">
        <h2 data-lang="heading-add-task">Add Task</h2>
    </div>

    <div class="add-task-rows column">
        <div class="inputs row gap-30">
            <div class="add-task-single-row">
                <div class="drp">
                    <span data-lang="assigned-to">Board</span>
                    <div class="drp-wrapper">
                        <div data-lang="select-board" class="drp-title" onclick="this.toggleDropDown()">Select board</div>
                        <div class="drp-option-wrapper">
                            <div class="drp-contacts" id="drp-board-container">
                                <!--Add contacts here!-->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="column">
                    <span data-lang="title">Title</span>
                    <textarea name="title" id="title" placeholder="Enter a title" data-lang-placeholder="title-placeholder"></textarea>
                </div>
    
                <div class="column">
                    <span data-lang="description">Description</span>
                    <textarea name="description" id="description" placeholder="Enter a description" data-lang-placeholder="description-placeholder"></textarea>
                </div>
    
                <div class="drp">
                    <span data-lang="category">Category</span>
                    <div class="drp-wrapper">
                        <div data-lang="select-task-category" class="drp-title" onclick="this.toggleDropDown()">Select task category</div>
                        <div class="drp-option-wrapper">
                            <div class="drp-contacts" id="drp-categories">
                                <!--Add contacts here!-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="line"></div>
    
            <div class="add-task-single-row gap-45">
                <div class="drp">
                    <span data-lang="assigned-to">Assigned to</span>
                    <div class="drp-wrapper">
                        <div data-lang="select-contacts-to-asign" class="drp-title" onclick="this.toggleDropDown()">Select contacts to assign</div>
                        <div class="drp-option-wrapper" id="drp-collaborators" data-shadow="ud/white">
                            <div class="drp-you" data-lang="assigned-you">You</div>
                            <div class="drp-contacts" id="drp-collab-container">
                                <!--Add contacts here!-->
                            </div>
                        </div>
                    </div>
                </div>

                <div id="calender" class="column">
                    <span data-lang="due-date">Due date</span>
                    <textarea name="date" id="date" class="padding-textarea" placeholder="dd/mm/yyyy" data-lang-placeholder="due-date-placeholder"></textarea>
                </div>
    
                <div id="priority" class="column">
                    <span data-lang="priority">Prio</span>
                    <div class="btn-priority" type="menu">
                        <button class="btn btn-secondary width-btn txt-normal" type="option"><span style="--prio_icon: url(/Join/assets/img/icons/prio_urgent.svg)">Urgent</span></button>
                        <button class="btn btn-secondary width-btn txt-normal" type="option"><span style="--prio_icon: url(/Join/assets/img/icons/prio_medium.svg)">Medium</span></button>
                        <button class="btn btn-secondary width-btn txt-normal" type="option"><span style="--prio_icon: url(/Join/assets/img/icons/prio_low.svg)">Low</span></button>
                    </div>
                </div>
    
                <div class="subtasks column">
                    <span data-lang="subtasks">Subtasks</span>
                    <textarea name="add-subtask" id="add-subtask" class="padding-textarea"></textarea>
                    <div class="row">
                        <input type="checkbox" id="subtask" name="subtask" value="subtask">
                        <label data-lang="subtask1" for="subtask">Subtask 1</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-right">
        <button onclick="addTask()" class="btn btn-primary btn-check txt-normal txt-700">
            <span data-lang="btn-create-task">Create Task</span>
        </button>
    </div>

</div>