<div class="">
    <h1>Add Task</h1>

    <div class="add-task-rows">
        <div class="add-task-single-row">
            <div class="column">
                <span>Title</span>
                <textarea name="title" id="title"></textarea>
            </div>

            <div class="column">
                <span>Description</span>
                <textarea name="description" id="description"></textarea>
            </div>

            <div class="drp txt-small">
                <span>Category</span>
                <div class="drp-wrapper">
                    <div class="drp-title" onclick="this.toggleDropDown()">Select task category</div>
                    <div class="drp-option-wrapper">
                        <div class="drp-contacts">
                            <div class="drp-option" onclick="this.toggleActive()"></div>
                            <div class="drp-option" onclick="this.toggleActive()"></div>
                        </div>
                        <div class="drp-invite" data-lang="assigned-invite"></div>
                    </div>
                </div>
            </div>
            <div class="drp txt-small">
                <span>Assigned to</span>
                <div class="drp-wrapper">
                    <div class="drp-title" onclick="this.toggleDropDown()">Select contacts to assign</div>
                    <div class="drp-option-wrapper">
                        <div class="drp-you" data-lang="assigned-you">You</div>
                        <div class="drp-contacts">
                            <!--Add contacts here!-->
                        
                            <div class="drp-option" onclick="this.toggleActive()">Maximilian Pisser</div>
                            <div class="drp-option" onclick="this.toggleActive()">Antoine Burtz</div>
                        </div>
                        <div class="drp-invite" data-lang="assigned-invite">Invite new contact</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="add-task-single-row">
            <div id="calender" class="column">
                <span>Due date</span>
                <textarea name="date" id="date"></textarea>
            </div>

            <div id="priority" class="column">
                <span>Prio</span>
                <div class="btn-priority">
                    <button class="btn btn-secondary btn-cancel txt-normal">Urgent</button>
                    <button class="btn btn-secondary btn-cancel txt-normal">Medium</button>
                    <button class="btn btn-secondary btn-cancel txt-normal">Low</button>
                </div>
            </div>

            <div class="subtasks column">
                <span>Subtasks</span>
                <textarea name="add-subtask" id="add-subtask"></textarea>
                <div class="row">
                    <input type="checkbox" id="subtask" name="subtask" checked>
                    <label for="subtask">Subtask 1</label>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-right">
        <button class="btn btn-secondary btn-cancel txt-normal">
            <span data-lang="btn-cancel">Clear</span>
        </button>

        <button class="btn btn-primary btn-check txt-normal txt-700">
            <span data-lang="btn-create-task">Create Task</span>
        </button>
    </div>
</div>

<style>
    .flex-right {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    textarea {
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        font-size: 16px;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .add-task-rows {
        display: flex;
        justify-content: center;
        gap: 35px;
    }

    .add-task-single-row {
        display: grid;
        max-width: 350px;
        gap: 20px;
    }

    .btn-priority {
        display: flex;
        gap: 10px;
    }

    #title {
        padding: 13px 21px;
    }

    #description {
        padding: 18px 21px;
    }

    #date {

    }

</style>