<div class="txt-normal add-task-card column d-none">
    <div class="add-task-heading row">
        <h2 data-lang="heading-add-task">Add Task</h2>
    </div>
    <div class="add-task-rows column">
        <div class="inputs row gap-30">
            <div class="add-task-single-row">
                <div class="drp">
                    <span data-lang="assigned-to">Board</span>
                    <div class="drp-wrapper" id="drp-wrapper-board">
                        <div data-lang="select-board" id="selected-board" class="drp-title" onclick="this.toggleDropDown()">Select board</div>
                        <div class="drp-option-wrapper">
                            <div class="drp-contacts" id="drp-board-container">
                                <!--Add contacts here!-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="error-inactive error-enter-input" id="select-a-board">
                    <span data-lang="select-a-board">Select a board!</span>
                </div>
                
                <div class="column">
                    <span data-lang="title">Title</span>
                    <textarea name="title" id="title" placeholder="Enter a title" data-lang-placeholder="title-placeholder"></textarea>
                    <div class="error-container-relative">
                        <span class="error-inactive error-enter-input" data-lang="enter-a-title" id="enter-a-title">Enter a title!</span>
                        <span class="error-inactive error-enter-input" data-lang="use-letters-only" id="title-letters-only">Please use letters only!</span>
                        <span class="error-inactive error-enter-input" data-lang="title-too-long" id="title-too-long">Title too long!</span>
                    </div>
                </div>
    
                <div class="column">
                    <span data-lang="description">Description</span>
                    <textarea name="description" id="description" placeholder="Enter a description" data-lang-placeholder="description-placeholder"></textarea>
                    <div class="error-container-relative">
                        <span class="error-inactive error-enter-input" data-lang="enter-a-description" id="enter-a-description">Enter a description</span>
                        <span class="error-inactive error-enter-input" data-lang="use-letters-only" id="description-letters-only">Please use letters only!</span>
                    </div>
                </div>
    
                <div class="drp" style="z-index: 1;">
                    <span data-lang="category">Category</span>
                    <div class="drp-wrapper" id="category-drp-wrapper">
                        <div data-lang="select-task-category" id="select-task-category" class="drp-title" onclick="this.toggleDropDown()">Select task category</div>
                        <div class="drp-option-wrapper">
                            <div class="drp-contacts" id="drp-categories">
                                <!--Add contacts here!-->
                            </div>
                        </div>
                    </div>
                    <div class="error-inactive error-enter-input" id="select-a-category">
                        <span data-lang="select-a-category">Select a category!</span>
                    </div>
                </div>
            </div>
    
            <div class="line"></div>
    
            <div class="add-task-single-row gap-45">
                <div class="drp">
                    <span data-lang="assigned-to">Assigned to</span>
                    <div class="drp-wrapper" id="drp-wrapper-collaborator">
                        <div id="selected-collaborator-input" data-lang="select-collaborators" class="drp-title" onclick="this.toggleDropDown()">Select collaborators</div>
                        <div class="drp-option-wrapper" id="drp-collaborators">
                            <div class="drp-contacts" id="drp-collab-container">
                                <!--Add contacts here!-->
                            </div>
                        </div>
                    </div>
                    <div class="error-inactive error-enter-input" id="select-a-collaborator">
                        <span data-lang="select-a-collaborator">Select a collaborator!</span>
                    </div>
                </div>
                <div id="calender" class="column">
                    <span data-lang="due-date">Due date</span>
                    <textarea name="date" id="date" class="padding-textarea" placeholder="dd/mm/yyyy" data-lang-placeholder="due-date-placeholder"></textarea>
                    <div class="error-inactive error-enter-input" id="enter-a-dueDate">
                        <span data-lang="enter-a-dueDate">Enter a due date!</span>
                    </div>
                    <div class="error-inactive error-enter-input" id="wrong-date-format">
                        <span data-lang="wrong-date-format">Wrong format!</span>
                    </div>
                </div>
    
                <div id="priority" class="column">
                    <span data-lang="priority">Prio</span>
                    <div class="btn-priority" type="menu">
                        <button class="btn btn-secondary prio-btn txt-normal" type="option"><span data-lang="urgent" class="priority" style="--prio_icon: url(/Join/assets/img/icons/prio_urgent.svg)">Urgent</span></button>
                        <button class="btn btn-secondary prio-btn txt-normal" type="option"><span data-lang="medium" class="priority" style="--prio_icon: url(/Join/assets/img/icons/prio_medium.svg)">Medium</span></button>
                        <button class="btn btn-secondary prio-btn txt-normal" type="option"><span data-lang="low" class="priority" style="--prio_icon: url(/Join/assets/img/icons/prio_low.svg)">Low</span></button>
                    </div>
                    <div class="error-inactive error-enter-input" id="select-a-priority">
                        <span data-lang="select-a-priority">Select a priority!</span>
                    </div>
                </div>
    
                <div class="subtasks column">
                    <span data-lang="subtasks">Subtasks</span>
                    <div class="inp-wrapper column gap-10" id="add-subtask">
                        <div class="inp-container radius-10">
                            <input oninput="checkSubtaskInput()" type="text" name="" id="subtask-input" data-lang-placeholder="add-subtask">
                            <div class="d-none inp-buttons row gap-10">
                                <button onclick="clearSubtaskInput()">
                                    <img src="/Join/assets/img/icons/close.svg" width="20">
                                </button>
                                <div class="vertical-line"></div>
                                <button onclick="addSubtask()">
                                    <img src="/Join/assets/img/icons/check_black.svg" width="20">
                                </button>
                            </div>
                        </div>
                        <div class="d-none error-container-relative" id="error-container">
                            <span class="error-inactive error-enter-input" data-lang="use-letters-only" id="subtask-letters-only">Please use letters only!</span>
                            <span class="error-inactive error-enter-input" data-lang="subtask-too-long" id="subtask-too-long">Subtask too long!</span>
                        </div>
                    </div>
                    <div id="subtask-container" class="column"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-right" style="pointer-events: none;">
        <button onclick="addTask()" type="button" class="btn btn-primary btn-check txt-normal txt-700" style="pointer-events: all;">
            <span data-lang="btn-create-task">Create Task</span>
        </button>
    </div>
</div>

<div class="summary-placeholder grid-center gap-35">
    <img src="/Join/assets/img/icons/logo.svg" alt="">
    <div class="btn-container flex-center">
        <h3 data-lang="no-boards" class="txt-blue">No boards yet?</h3>
        <button class="add-board btn btn-primary btn-add-task txt-normal txt-700" onclick="createBoardModal()">
            <span data-lang="add-board">Add board</span>
        </button>
    </div>
</div>