<div id="board-wrapper">
    <div id="board-header" class="row gap-35">
        <h2 data-lang="board">Board</h2>
            <div id="search-task" class="inp-container gap-10 radius-10">
                <div class="inp-buttons row gap-10">
                    <input type="text" placeholder="Find Task" data-lang-placeholder="find-task" oninput="searchTasks()">
                    <div class="inp-buttons row gap-15">
                        <div class="vertical-line"></div>
                        <button class="grid-center" onclick="focusInput()">
                            <img src="/Join/assets/img/icons/loupe.svg" alt="">
                        </button>
                        <button class="grid-center" onclick="clearTaskSearch()">
                            <img src="/Join/assets/img/icons/close.svg" alt="" width="18" height="18">
                        </button>
                    </div>
                </div>
            </div>
        <button class="btn btn-primary btn-add-task txt-normal txt-700" onclick="addTaskModal()">
            <span data-lang="add-task">Add task</span>
        </button>
    </div>

    <div id="tasks" class="shadow-container" data-shadow="ud/var(--clr-bg-light)/20px">

        <div class="column gap-15">
            <div class="task-header">
                <h4 data-lang="to-do">To do</h4>
                <button class="btn btn-plus" onclick="addTaskModal()"></button>
            </div>
            <div id="to-do" data-lang-empty="no-tasks" data-type=""></div>
        </div>

        <div class="column gap-15">
            <div class="task-header">
                <h4 data-lang="awaiting-feedback">Awaiting Feedback</h4>
                <button class="btn btn-plus" onclick="addTaskModal()"></button>
            </div>
            <div id="awaiting-feedback" data-lang-empty="no-tasks" data-type=""></div>
        </div>

        <div class="column gap-15">
            <div class="task-header">
                <h4 data-lang="in-progress">In Progress</h4>
                <button class="btn btn-plus" onclick="addTaskModal()"></button>
            </div>
            <div id="in-progress" data-lang-empty="no-tasks" data-type=""></div>
        </div>

        <div class="column gap-15">
            <div class="task-header">
                <h4 data-lang="done">Done</h4>
                <button class="btn btn-plus" onclick="addTaskModal()"></button>
            </div>
            <div id="done" data-lang-empty="no-tasks" data-type=""></div>
        </div>

    </div>

    <dialog id="add-task-modal" type="modal" class="big-modal">
        <div include-template="/Join/assets/templates/index/add-task_template.html"></div>
    </dialog>

    <dialog id="fullscreen-task-modal" type="modal" class="big-modal" static="false">
        <div id="fullscreen-task" class="column"></div>
        <div id="edit-task" class="column d-none" data-shadow="ud/white/40px"></div>
    </dialog>

</div>