<div id="board">
    <div id="board-header" class="row gap-35">
        <h1>Board</h1>
        <input type="search" placeholder="Find Task" data-lang-placeholder="find-task">
        <button class="btn btn-primary btn-add-task txt-normal txt-700" onclick="addTaskModal()">
            <span data-lang="add-task">Add task</span>
        </button>
    </div>
    <div id="tasks-header">
        <div class="task-header">
            <h2 data-lang="to-do">To do</h2>
            <button class="btn btn-plus"></button>
        </div>
        <div class="task-header">
            <h2 data-lang="awaiting-feedback">Awaiting Feedback</h2>
            <button class="btn btn-plus"></button>
        </div>
        <div class="task-header">
            <h2 data-lang="in-progress">In Progress</h2>
            <button class="btn btn-plus"></button>
        </div>
        <div class="task-header">
            <h2 data-lang="done">Done</h2>
            <button class="btn btn-plus"></button>
        </div>
    </div>
    <div id="tasks" class="">
        <div id="to-do">

            <div class="task txt-small" onmousedown="addDragger()" style="--x: 0; --y: 0;">
                <div class="task-category" style="--clr: #FF7A00;">Design</div>
                <div class="task-title txt-700">Website redesign</div>
                <div class="task-description">Modify the contents of the main website...</div>
                <div class="task-progress txt-tiny">
                    <div class="task-progress-bar"></div>
                    <div class="task-progress-counter">1/2 Done</div>
                </div>
                <div class="task-footer">
                    <div class="task-collaborators">
                        <div>SM</div>
                        <div>MV</div>
                        <div>EF</div>
                    </div>
                    <div class="task-priority" style="--priority: url(../assets/img/icons/prio_medium.svg)"></div>
                </div>
            </div>

        </div>
        <div id="awaiting-feedback">
            <div class="task"></div>
        </div>
        <div id="in-progress">
            <div class="task"></div>
        </div>
        <div id="done">
            <div class="task"></div>
        </div>
    </div>

    <dialog id="add-task-modal" type="modal">
        <div include-template="../assets/templates/index/add-task_template.html"></div>
    </dialog>
</div>