<div id="board-wrapper">
    <div id="board-header" class="row gap-35">
        <h2 data-lang="board">Board</h2>
        <input type="search" placeholder="Find Task" data-lang-placeholder="find-task">
        <button class="btn btn-primary btn-add-task txt-normal txt-700" onclick="addTaskModal()">
            <span data-lang="add-task">Add task</span>
        </button>
    </div>
    <div id="tasks-header">
        <div class="task-header">
            <h4 data-lang="to-do">To do</h4>
            <button class="btn btn-plus"></button>
        </div>
        <div class="task-header">
            <h4 data-lang="awaiting-feedback">Awaiting Feedback</h4>
            <button class="btn btn-plus"></button>
        </div>
        <div class="task-header">
            <h4 data-lang="in-progress">In Progress</h4>
            <button class="btn btn-plus"></button>
        </div>
        <div class="task-header">
            <h4 data-lang="done">Done</h4>
            <button class="btn btn-plus"></button>
        </div>
    </div>
    <div id="tasks" class="">
        <div id="to-do"></div>
        <div id="awaiting-feedback"></div>
        <div id="in-progress"></div>
        <div id="done"></div>
    </div>

    <dialog id="add-task-modal" type="modal" class="big-modal">
        <div include-template="/Join/assets/templates/index/add-task_template.html"></div>
    </dialog>

    <dialog id="fullscreen-task-modal" type="modal" class="big-modal"></dialog>
</div>