<div class="contacts-wrapper row">
    <div id="contacts-container" class="contact-list-container gap-15"></div>

    <div class="header-contact column">
        <div class="contacts-header-container row">
            <h2 data-lang="header">Contacts</h2>
            <div class="row gap-15">
                <p></p>
                <span data-lang="sub-header">Better with a team</span>
            </div>
        </div>
    
        <div id="selected-contact-container" class="grid-center">
            <span id="contacts-empty" class="d-none txt-big txt-blue txt-600" data-lang="contacts-empty">Oops, you don't have any contacts yet.</span>
        </div>
    </div>

    <button onclick="addContactModal()" class="btn btn-primary btn-contact txt-normal txt-700 absolute">
        <span data-lang="btn-new-contact">New contact</span>
    </button>

    <dialog id="add-contact-modal" type="modal" class="big-modal" inert>
        <div class="add-contact-container row">
            <div class="add-contact-theme column">
                <img src="/Join/assets/img/icons/logo_white.svg">
                <h1 data-lang="add-contact-heading">Add contact</h1>
                <span data-lang="add-contact-subheading">Tasks are better with a team!</span>
            </div>

            <div class="add-contact-field column">
                <button onclick="closeAddContact()" class="close-btn grid-center">
                    <img class="close" src="/Join/assets/img/icons/close_blue.svg" alt="Close">
                </button>

                <div class="search-result-container row gap-25 txt-big">
                    <div class="user-img-container" data-img="false">
                        <h3></h3>
                        <img class="user-img-gray" src="/Join/assets/img/icons/user_img_gray.svg">
                    </div>
                    <div class="search-contact column">
                        <input id="input-name" type="text" oninput="getInput()" class="txt-normal" data-lang-placeholder="search-names-input" autocomplete="off">
                        <div id="user-search-result" class="user-search-result column gap-15"></div>
                    </div>                   
                </div>    

                <div class="add-contact-btns row gap-15">
                    <button onclick="addContact()" class="btn btn-primary btn-check txt-normal txt-700">
                        <span data-lang="btn-add-contact">Add Contact</span>
                    </button>
                </div>
            </div>
        </div>
    </dialog>

    <dialog id="add-task-modal" type="modal" class="big-modal">
        <div include-template="/Join/assets/templates/index/add-task_template.html"></div>
    </dialog>
</div>