<div class="contacts-container row">
    <div id="contacts-container" class="contact-list-container">

    </div>

    <div class="header-contact column">
        <div class="contacts-header-container row">
            <h2 data-lang="header">Contacts</h2>
            <p></p>
            <span data-lang="sub-header">Better with a team</span>
        </div>
    
        <div class="contact-container column">
            <div class="img-name row">
                <img src="">

                <div class="column contact-name">
                    <span>Heinz Peter</span>
                    <button data-lang="add-task" class="row">Add Task</button>
                </div>
            </div>

            <div class="edit-contact row">
                <span data-lang="contact-info">Contact Information</span>
                <button data-lang="edit-contact" class="row">Edit Contact</button>
            </div>

            <div class="mail-container column">
                <span class="txt-700">E-Mail</span>
                <a class="email" href="mailto:peter.duPisser@gmx.de">peter.duPisser@gmx.de</a>                 
            </div>

            <div class="phone-container column">
                <span data-lang="phone" class="txt-700">Phone</span>
                <a id="phone-number" href="tel:+436649995399">+43 664 999 53 99</a>
            </div>
        </div>
    </div>

    <button onclick="addContactModal()" class="btn btn-primary btn-contact txt-normal txt-700 absolute">
        <span data-lang="btn-new-contact">New contact</span>
    </button>


    <dialog id="add-contact-modal" type="modal">
        <div class="add-contact-container row">
            <div class="add-contact-theme column">
                <img src="../assets/img/icons/logo_white.svg">
                <h1 data-lang="add-contact-heading">Add contact</h1>
                <span data-lang="add-contact-subheading">Tasks are better with a team!</span>
            </div>



            <div class="add-contact-field column">
                <img onclick="closeAddContact()" class="close" src="../assets/img/icons/close.svg" alt="Close">

                <div class="search-contact row">
                    <img class="user-img-gray" src="../assets/img/icons/user_img_gray.svg">
                    <input type="text" placeholder="Search names...">
                </div>
                
                <div class="add-contact-btns row gap-15">
                    <button class="btn btn-secondary btn-cancel txt-normal">
                        <span data-lang="btn-cancel">Cancel</span>
                    </button>

                    <button class="btn btn-primary btn-check txt-normal txt-700">
                        <span data-lang="btn-add-contact">Add Contact</span>
                    </button>
                </div>
            </div>
        </div>
    </dialog>
</div>