<header>
    <div data-lang="header-kanban" id="header-title" class="txt-normal">
        Kanban Project Management Tool
    </div>
    
    <button id="help" onclick="loadContent()">
        <img src="/Join/assets/img/icons/help.svg">
    </button>

    <div class="user-img-container" data-img="false" data-user-data="color" onclick="openAccountPanel()">
        <div class="notifications-counter circle flex-center d-none"></div>
        <span data-user-data="initials"></span>
        <img class="user-img" src="/Join/assets/img/icons/user_img_gray.svg" alt="" data-user-data="img">
    </div>
</header>