<div id="summary-wrapper" class="column">
    <div class="summary-header row">
        <h2 data-lang="summary" class="row">Summary</h2>
        <h3 data-lang="summary-subtext">Everything in a nutshell!</h3>
        <button class="add-board btn btn-primary btn-add-task txt-normal txt-700" onclick="createBoardModal()">
            <span data-lang="add-board">Add board</span>
        </button>
    </div>

    <div id="summary-body" class="column">
        <div id="summary-content" class="flex-center">
            <div id="summary-selection" class="column gap-15" type="menu" data-shadow="ud/var(--clr-bg-light)/20px">
            </div>
            <div id="summary-data" class="column gap-30">
                <div class="row gap-30">
                    <button class="summary-btn">
                        <h1>1</h1>
                        <span data-lang="tasks-in-board">Tasks in Board</span>
                    </button>
                    <button class="summary-btn">
                        <h1>1</h1>
                        <span data-lang="tasks-in-progress">Tasks in Progress</span>
                    </button>
                    <button class="summary-btn">
                        <h1>1</h1>
                        <span data-lang="tasks-awaiting-feedback">Awaiting Feedback</span>
                    </button>
                </div>
                <div class="row gap-30">
                    <button class="summary-btn">
                        <div class="urgent-tasks flex-center gap-20">
                            <div class="circle grid-center">
                                <img src="/Join/assets/img/icons/prio_urgent.svg" alt="">
                            </div>
                            <div class="column flex-center">
                                <h1></h1>
                                <span data-lang="urgent">Urgent</span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="upcoming-deadline column flex-center gap-15">
                            <span class="txt-normal txt-700"></span>
                            <span class="txt-small" data-lang="tasks-deadline">Upcoming Deadline</span>
                        </div>
                    </button>
                </div>
                <div class="row gap-30">
                    <button class="summary-btn flex-center gap-20">
                        <div class="circle grid-center" style="--diameter: 70px;background-color:var(--clr-dark);">
                            <img src="/Join/assets/img/icons/edit_dark.svg" alt="">
                        </div>
                        <div class="column flex-center">
                            <h1>1</h1>
                            <span data-lang="to-do">To-do</span>
                        </div>
                    </button>
                    <button class="summary-btn flex-center gap-20">
                        <div class="circle grid-center" style="--diameter: 70px;background-color:var(--clr-dark);">
                            <img src="/Join/assets/img/icons/check_dark.svg" alt="">
                        </div>
                        <div class="column flex-center">
                            <h1>1</h1>
                            <span data-lang="tasks-done">Done</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="summary-placeholder grid-center gap-35">
            <img src="/Join/assets/img/icons/logo.svg" alt="">
            <div class="btn-container flex-center">
                <h3 data-lang="no-boards">No boards yet?</h3>
                <button class="add-board btn btn-primary btn-add-task txt-normal txt-700" onclick="createBoardModal()">
                    <span data-lang="add-board">Add board</span>
                </button>
            </div>
        </div>
    </div>

    <dialog type="modal" id="add-board" class="big-modal">
        <div class="add-board-content row">
            <div class="add-board-header column">
                <img src="/Join/assets/img/icons/logo_white.svg">
                <h1 data-lang="add-board">New Board</h1>
                <h3 data-lang="add-board-subtext">Projects that change the world!</h3>
            </div>
            <div class="add-board-data column gap-35">
            </div>
        </div>
    </dialog>

    <dialog id="edit-board-modal" type="modal" class="big-modal" static="false">
        <div id="edit-board" class="column gap-25">
            <h3>Edit Board</h3>
            <div class="column gap-15">
                <h4>Categories</h4>
                <div class="drp-wrapper">
                    <div class="drp-title">Hello</div>
                    <div class="drp-contacts"></div>
                </div>
            </div>
            <div class="column gap-15">
                <h4>Collaborators</h4>
                <div class="drp-wrapper" id="drp-wrapper"></div>
            </div>
            <div class="btn-container" style="margin-left: auto;" onclick="deleteBoard()">
            <button class="btn btn-secondary btn-delete">
                <span data-lang="delete-board"></span>
            </button></div>
        </div>
    </dialog>
</div>