<div class="summary-wrapper column">
    <div class="summary-header row">
        <h2 data-lang="summary" class="row">Summary</h2>
        <h3 data-lang="summary-subtext">Everything in a nutshell!</h3>
        <button class="add-board btn btn-primary btn-add-task txt-normal txt-700" onclick="createBoardModal()">
            <span data-lang="add-board">Add board</span>
        </button>
    </div>

    <div class="summary-body column">
        <div class="summary-selection row">
            <button class="summary-selection-arrows d-none" onclick="incrementBoard(-1)"></button>
            <div class="summary-selection-boards row" type="menu">
            </div>
            <button class="summary-selection-arrows d-none" onclick="incrementBoard(1)"></button>
        </div>

        <div class="summary-content-wrapper">
            <div class="summary-content-shadow"></div>
            <div class="summary-content scroll-snap row txt-normal">
                <div class="summary-grid column d-none">
    
                    <div class="row">
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                    </div>
    
                    <div class="row">
                        <div class="summary-btn big"></div>
                    </div>
    
                    <div class="row">
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                    </div>
                </div>
                <div id="summary-data" class="summary-grid column">
                    <!-- <div id="add-board"><h2>Add Board</h2></div> -->
                    <div class="content column d-none">
                        <div class="row">
                            <button id="tasks-in-board" class="summary-btn column">
                                <h1>&nbsp;</h1>
                                <span>Tasks in<br>Board</span>
                            </button>
                            <button id="tasks-in-progress" class="summary-btn column">
                                <h1>&nbsp;</h1>
                                <span>Tasks in<br>Progress</span>
                            </button>
                            <button id="tasks-awaiting-feedback" class="summary-btn column">
                                <h1>&nbsp;</h1>
                                <span>Awaiting<br>Feedback</span>
                            </button>
                        </div>
        
                        <div class="row">
                            <button id="tasks-urgent" class="summary-btn big row">
                                <span></span>
                                <span>Urgent</span>
                            </button>
                        </div>
        
                        <div class="row">
                            <button id="tasks-to-do" class="summary-btn row">
                                <div class="column">
                                    <h1>&nbsp;</h1>
                                    <span>To-do</span>
                                </div>
                            </button>
                            <button id="tasks-done" class="summary-btn row">
                                <div class="column">
                                    <h1>&nbsp;</h1>
                                    <span>Done</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="summary-grid column d-none">
    
                    <div class="row">
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                    </div>
    
                    <div class="row">
                        <div class="summary-btn big"></div>
                    </div>
    
                    <div class="row">
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <dialog type="modal" id="add-board" class="big-modal">
        <div class="add-board-content row">
            <div class="add-board-header column">
                <img src="/Join/assets/img/icons/logo_white.svg">
                <h1 data-lang="add-board">New Board</h1>
                <h3 data-lang="add-board-subtext">Projects that change the world!</h3>
            </div>
            <div class="add-board-data column gap-25">
                <div class="inp-wrapper gap-10 column">
                    <div class="inp-container radius-10">
                        <input type="text" name="" id="" data-lang-placeholder="title">
                    </div>
                </div>
                <div class="inp-wrapper gap-10 column">
                    <div class="inp-container radius-10">
                        <input type="text" name="" id="" data-lang-placeholder="add-categories">
                        <div class="inp-buttons row gap-10">
                            <button onclick="clearInput()">
                                <img src="/Join/assets/img/icons/close.svg" width="20">
                            </button>
                            <div class="vertical-line"></div>
                            <button onclick="addBoardCategory()">
                                <img src="/Join/assets/img/icons/check_black.svg" width="20">
                            </button>
                        </div>
                    </div>
                    <div class="categories-container">
                        <div class="task-category" style="--clr: green;">
                            <span>Sales</span>
                            <button onclick="deleteCategory()">
                                <img src="/Join/assets/img/icons/close_white.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="">Add Collaborators</div>
            </div>
        </div>
    </dialog>
</div>