<div class="summary-wrapper column">
    <div class="summary-header row">
        <h2 data-lang="summary" class="row">Summary</h2>
        <h3>Everything in a nutshell!</h3>
    </div>

    <div class="summary-body column">
        <div class="summary-selection row">
            <button class="summary-selection-arrows d-none" onclick="incrementBoard(-1)"></button>
            <div class="summary-selection-boards row" type="menu">
            </div>
            <button class="summary-selection-arrows d-none" onclick="incrementBoard(1)"></button>
        </div>

        <div class="summary-content-wrapper">
            <div class="summary-content-shadow"></div>
            <div class="summary-content scroll-snap row txt-normal">
                <div class="summary-grid column d-none">
    
                    <div class="row">
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                    </div>
    
                    <div class="row">
                        <div class="summary-btn big"></div>
                    </div>
    
                    <div class="row">
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                    </div>
                </div>
                <div id="summary-data" class="summary-grid column">
                    <div id="add-board"><h2>Add Board</h2></div>
                    <div class="content column d-none">
                        <div class="row">
                            <button id="tasks-in-board" class="summary-btn column">
                                <h1>&nbsp;</h1>
                                <span>Tasks in<br>Board</span>
                            </button>
                            <button id="tasks-in-progress" class="summary-btn column">
                                <h1>&nbsp;</h1>
                                <span>Tasks in<br>Progress</span>
                            </button>
                            <button id="tasks-awaiting-feedback" class="summary-btn column">
                                <h1>&nbsp;</h1>
                                <span>Awaiting<br>Feedback</span>
                            </button>
                        </div>
        
                        <div class="row">
                            <button id="tasks-urgent" class="summary-btn big row">
                                <span></span>
                                <span>Urgent</span>
                            </button>
                        </div>
        
                        <div class="row">
                            <button id="tasks-to-do" class="summary-btn row">
                                <div class="column">
                                    <h1>&nbsp;</h1>
                                    <span>To-do</span>
                                </div>
                            </button>
                            <button id="tasks-done" class="summary-btn row">
                                <div class="column">
                                    <h1>&nbsp;</h1>
                                    <span>Done</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="summary-grid column d-none">
    
                    <div class="row">
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                    </div>
    
                    <div class="row">
                        <div class="summary-btn big"></div>
                    </div>
    
                    <div class="row">
                        <div class="summary-btn"></div>
                        <div class="summary-btn"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>