.legal-notice-container {
    padding: 6vh 4rem;
    width: 100%;
    gap: 80px;
}

.legal-notice-segments {
    height: 50vh;
    justify-content: space-between;
}

@media(max-width: 800px) {
    .legal-notice-container h3 {
        font-weight: 600 !important;
    }
}

@media(max-width: 550px) {
    .legal-notice-container {
        padding: 4vh 2rem;
        align-items: center;
    }
}

@media(max-width: 400px) {
    .legal-notice-container {
        padding: 4vh 1rem;
    }
}