<div class="card" style="padding: 44px 85px;">
    <button class="back-arrow grid-center" onclick="goToLogin()">
        <img src="../assets/img/icons/back_arrow.svg" alt="">
    </button>
    <div class="header-container">
        <h1>I forgot my password</h1>
        <img src="../assets/img/icons/blue_line_bottom.svg" alt="">
    </div>
    <p class="txt-normal txt-center">Don't worry! We will send you an email with the instructions to reset your password.</p>
    <form>
        <div class="inp-container  radius-10">
            <input type="email" name="" id="" class="txt-normal" placeholder="Email">
            <img src="../assets/img/icons/mail.svg" alt="">
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary btn-check txt-700" style="width: 264px;" onclick="logIn()">Send me the email</button>
        </div>
    </form>
</div>