<div class="card" id="forgot-password" style="padding: 44px 85px;">
    <button class="back-arrow grid-center" onclick="goToLogin()">
        <img src="../assets/img/icons/back_arrow.svg" alt="">
    </button>
    <div class="header-container">
        <h1 class="txt-center">I forgot my password</h1>
        <img src="../assets/img/icons/blue_line_bottom.svg" alt="">
    </div>
    <p class="txt-normal txt-center">Don't worry! We will send you an email with the instructions to reset your password.</p>
    <form novalidate>
        <div class="inp-container  radius-10">
            <input type="email" name="" id="" class="txt-normal" placeholder="Email">
            <div class="grid-center">
                <img src="../assets/img/icons/mail.svg" alt="">
            </div>
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary btn-check txt-700" onclick="logIn()">Send email</button>
        </div>
    </form>
</div>