<div class="card" id="login">
    <div class="header-container">
        <h1 class="txt-center">Log in</h1>
        <img src="../assets/img/icons/blue_line_bottom.svg" alt="">
    </div>

    <form novalidate>
        <div class="inp-wrapper" id="email">
            <div class="inp-container radius-10">
                <input type="email" required name="" class="txt-normal" placeholder="Email or Username">
                <div class="grid-center">
                    <img src="../assets/img/icons/mail.svg" alt="">
                </div>
            </div>
            <div class="error" id="invalid-email-or-username">
                <span>Email or username not found!</span>
            </div>
        </div>

        <div class="inp-wrapper" id="password">
            <div class="inp-container radius-10">
                <input type="password" required name="" class="txt-normal" placeholder="Password">
                <button class="grid-center" onclick="togglePasswordVisibility()">
                    <img src="../assets/img/icons/hide.png" id="eye">
                </button>
            </div>
            <div class="error" id="wrong-password">
                <span>Wrong Password!</span>
            </div>
        </div>

        <div class="login-options">
            <div class="remember-me">
                <input type="checkbox" id="remember-me">
                <label for="remember-me" class="txt-small">Remember me</label>
            </div>
            <a href="#" class="txt-blue txt-small" onclick="goToForgotPw()">Forgot my password</a>
        </div>

        <div class="btn-container">
            <button type="submit" class="btn btn-primary txt-700" id="login" onclick="logIn()">Log in</button>
            <button class="btn btn-secondary txt-700" id="guest-login">Guest Log in</button>
        </div>
    </form>

</div>
<div id="sign-up">
    <span class="txt-normal">Not a Join user?</span>
    <button class="btn btn-primary txt-small txt-700" onclick="goToSignup()">Sign up</button>
</div>