<div class="card" id="signup">
    <button class="back-arrow grid-center" onclick="goToLogin()">
        <img src="../assets/img/icons/back_arrow.svg" alt="">
    </button>
    <div class="header-container">
        <h1 class="txt-center">Sign up</h1>
        <img src="../assets/img/icons/blue_line_bottom.svg" alt="">
    </div>
    <form novalidate>
        <div class="inp-wrapper" id="name">
            <div class="inp-container radius-10">
                <input type="text" name="" class="txt-normal" placeholder="Name">
                <div class="grid-center">
                    <img src="../assets/img/icons/name.svg" alt="">
                </div>
            </div>
            <div class="error">
                <span>Invalid Name</span>
            </div>
        </div>
        <div class="inp-wrapper" id="email">
            <div class="inp-container radius-10">
                <input type="email" name="" class="txt-normal" placeholder="Email">
                <div class="grid-center">
                    <img src="../assets/img/icons/mail.svg" alt="">
                </div>
            </div>
            <div class="error">
                <span>Must be a valid email</span>
            </div>
            <div class="error">
                <span>Email already in use!</span>
            </div>
        </div>
        <div class="inp-wrapper" id="password">
            <div class="inp-container radius-10">
                <input type="password" name="" class="txt-normal" placeholder="Password">
                <button class="grid-center" onclick="togglePasswordVisibility()">
                    <img src="../assets/img/icons/hide.png" id="eye">
                </button>
            </div>
            <div class="error">
                <span>Password must be at least 8 characters long and contain at least one uppercase and lowercase letter and one digit</span>
            </div>
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary btn-check txt-700" id="login" onclick="signupInit()">Sign up</button>
        </div>
    </form>
</div>