<div class="card">
    <button class="back-arrow grid-center" onclick="goToLogin()">
        <img src="../assets/img/icons/back_arrow.svg" alt="">
    </button>
    <div class="header-container">
        <h1>Sign up</h1>
        <img src="../assets/img/icons/blue_line_bottom.svg" alt="">
    </div>
    <form>
        <div class="inp-container  radius-10">
            <input type="text" name="" id="" class="txt-normal" placeholder="Name">
            <img src="../assets/img/icons/name.svg" alt="">
        </div>
        <div class="inp-container  radius-10">
            <input type="email" name="" id="" class="txt-normal" placeholder="Email">
            <img src="../assets/img/icons/mail.svg" alt="">
        </div>
        <div class="inp-container  radius-10">
            <input type="password" name="" id="" class="txt-normal" placeholder="Password">
            <img src="../assets/img/icons/password.svg" alt="">
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary btn-check txt-700" id="login" onclick="logIn()">Sign up</button>
        </div>
    </form>
</div>