<div class="card">
    <button class="back-arrow grid-center" onclick="goToLogin()">
        <img src="../assets/img/icons/back_arrow.svg" alt="">
    </button>
    <div class="header-container">
        <h1 class="txt-center">Sign up</h1>
        <img src="../assets/img/icons/blue_line_bottom.svg" alt="">
    </div>
    <form novalidate>
        <div class="inp-container  radius-10">
            <input type="text" name="" id="" class="txt-normal" placeholder="Name">
            <div class="grid-center">
                <img src="../assets/img/icons/name.svg" alt="">
            </div>
        </div>
        <div class="inp-container  radius-10">
            <input type="email" name="" id="" class="txt-normal" placeholder="Email">
            <div class="grid-center">
                <img src="../assets/img/icons/mail.svg" alt="">
            </div>
        </div>
        <div class="inp-container  radius-10">
            <input type="password" name="" id="password" class="txt-normal" placeholder="Password (At least 8 characters)" oninput="validatePasswordInputs()">
            <button class="grid-center" onclick="togglePasswordVisibility()">
                <img src="../assets/img/icons/show.png" id="eye">
            </button>
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary btn-check txt-700" id="login" onclick="signupInit()">Sign up</button>
        </div>
    </form>
</div>