<div>
    <div class="card" id="create-account">
        <form onsubmit="uploadImage()">
            <div class="header-container">
                <h2 class="txt-center" data-lang="create-account">Create Account</h2>
            </div>
    
            <div class="user-img-container grid-center" data-img="false" onclick="removeUpload()">
                <h1>TU</h1>
                <img class="user-img" src="" alt="">
            </div>

            <p class="txt-normal txt-center" data-lang="choose-image-info"></p>
            
            <div class="btn-container">
                <input type="file" style="display: none;" id="choose-image" name="user-img" onchange="submitUpload()">
                <label for="choose-image" class="btn btn-secondary txt-500" data-lang="choose-image">Choose Image</label>
                <button type="submit" class="btn btn-primary txt-700" id="login" onclick="" data-lang="finish-setup">Finish Setup</button>
            </div>
        </form>
    </div>
</div>