<div class="legal-notice-container column">
	<h2 data-lang="legal-notice-heading">Legal notice</h2>
	<div class="column gap-30 legal-notice-segments">
		<div class="column gap-20">
			<h3 data-lang="legal-notice-heading-2">Angaben gemäß § 5 TMG</h3>
			<div class="column gap-10">
				<span>Tarik Uyan</span>
				<span>Matteottiplatz 2/22/16</span>
				<span>1160 Wien - AT</span>
			</div>
		</div>

		<div class="column gap-20">
			<h3 data-lang="legal-notice-heading-3">Contact</h3>
			<div class="column gap-10">
				<div class="row gap-10"><span data-lang="phone">Phone:</span><a href="tel:+436706044460">+43 670 6044460</a></div>
				<span>E-Mail: <a href="mailto:musician.tarik@gmx.at">musician.tarik@gmx.at</a></span>
			</div>
		</div>

		<div class="row gap-10">
			<span data-lang="legal-notice-source">Quelle:</span>
			<a href="https://www.e-recht24.de">eRecht24</a>
		</div>
	</div>
</div>
