<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="icon" href="/Join/assets/img/icons/logo.svg">

    <link rel="stylesheet" href="/Join/style.css">
    <link rel="stylesheet" href="/Join/index/legal_notice/legal_notice.css">
    <link rel="stylesheet" href="/Join/fonts/fonts.css">

    <script type="module" src="/Join/index/legal_notice/legal_notice.js"></script>
</head>
<body oncustomload="initLegalNotice()">
    <div include-Template="/Join/assets/templates/init/legal-notice-content.html"></div>
</body>
</html>