<div class="card" id="login" data-title="title-login">
    <div class="header-container">
        <h2 class="txt-center" data-lang="log-in">Log in</h2>
    </div>

    <form novalidate>
        <div class="inp-wrapper" id="email">
            <div class="inp-container radius-10">
                <input type="email" required name="" class="txt-normal" placeholder="Email or Username" data-lang-placeholder="email-or-username">
                <div class="grid-center">
                    <img src="../assets/img/icons/mail.svg" alt="">
                </div>
            </div>
            <div class="error" id="invalid-email-or-username">
                <span data-lang="email-not-found">Email or username not found!</span>
            </div>
        </div>

        <div class="inp-wrapper" id="password">
            <div class="inp-container radius-10">
                <input type="password" required name="" class="txt-normal" placeholder="Password" data-lang-placeholder="password">
                <button class="grid-center" onclick="togglePasswordVisibility()">
                    <img src="../assets/img/icons/hide.png" id="eye">
                </button>
            </div>
            <div class="error" id="wrong-password">
                <span data-lang="wrong-password">Wrong Password!</span>
            </div>
        </div>

        <div class="login-options">
            <div class="remember-me">
                <input type="checkbox" id="remember-me">
                <label for="remember-me" class="txt-small" data-lang="remember-me">Remember Me</label>
            </div>
            <a href="./forgot_password.html" class="txt-blue txt-small" data-lang="forgot-password"></a>
        </div>

        <div class="btn-container">
            <button type="submit" class="btn btn-primary txt-700" id="login" onclick="logIn()" data-lang="log-in">Log In</button>
            <button class="btn btn-secondary txt-700" id="guest-login" data-lang="guest-log-in">Guest Log in</button>
        </div>

    </form>

</div>
<div id="sign-up">
    <span class="txt-normal" data-lang="not-join-user">Not a Join user?</span>
    <button class="btn btn-primary txt-small txt-700" onclick="loadContent('signup')" data-lang="sign-up">Sign up</button>
</div>