<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="icon" href="/Join/assets/img/icons/logo.svg">

    <link rel="stylesheet" href="/Join/style.css">
    <link rel="stylesheet" href="/Join/index/privacy/privacy.css">
    <link rel="stylesheet" href="/Join/fonts/fonts.css">

    <script src="/Join/js/prototype_extensions.js"></script>
    <script src="/Join/js/language.js"></script>
    <script src="/Join/js/storage.js"></script>
    <script src="/Join/js/utilities.js"></script>
</head>
<body onload="$('body').includeTemplate({url: `/Join/assets/languages/privacy-${currentLang()}.html`, replace: false}), window.LANG_load()">
    
</body>
</html>