<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="icon" href="/Join/assets/img/icons/logo.svg">

    <link rel="stylesheet" href="/Join/style.css">
    <link rel="stylesheet" href="/Join/index/privacy/privacy.css">
    <link rel="stylesheet" href="/Join/fonts/fonts.css">

    <script type="module" src="/Join/index/privacy/privacy.js"></script>
</head>
<body oncustomload="initPrivacy()">
    
</body>
</html>