<div class="card" id="signup" data-title="title-signup">
    <button class="back-arrow grid-center" onclick="goToLogin()">
        <img src="../assets/img/icons/back_arrow.svg" alt="">
    </button>
    <div class="header-container">
        <h2 class="txt-center" data-lang="sign-up"></h2>
    </div>
    <form novalidate>
        <div class="inp-wrapper" id="name">
            <div class="inp-container radius-10">
                <input type="text" name="" class="txt-normal" placeholder="Name" data-lang-placeholder="name">
                <div class="grid-center">
                    <img src="../assets/img/icons/name.svg" alt="">
                </div>
            </div>
            <div class="error" id="invalid-name">
                <span data-lang="invalid-name"></span>
            </div>
            <div class="error" id="name-in-use">
                <span data-lang="name-in-use"></span>
            </div>
        </div>
        <div class="inp-wrapper" id="email">
            <div class="inp-container radius-10">
                <input type="email" name="" class="txt-normal" placeholder="Email" data-lang-placeholder="email">
                <div class="grid-center">
                    <img src="../assets/img/icons/mail.svg" alt="">
                </div>
            </div>
            <div class="error" id="invalid-email">
                <span data-lang="invalid-email"></span>
            </div>
            <div class="error" id="email-in-use">
                <span data-lang="email-in-use"></span>
            </div>
        </div>
        <div class="inp-wrapper" id="password">
            <div class="inp-container radius-10">
                <input type="password" name="" class="txt-normal" placeholder="Password" data-lang-placeholder="password" autocomplete="new-password">
                <button class="grid-center" onclick="togglePasswordVisibility()" tabindex="-1">
                    <img src="../assets/img/icons/hide.png" class="eye">
                </button>
            </div>
            <div class="error" id="invalid-password">
                <span data-lang="invalid-password"></span>
            </div>
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary btn-check txt-700" style="width: 180px;" id="login" onclick="signupInit()" data-lang="sign-up"></button>
        </div>
    </form>
</div>